.up{
border: 6px solid black;
background-color: black;
text-decoration-color: rgb(70, 65, 65);
text-decoration: none;
padding-right: 30px;

} 
.left{
    float: right; 
}

.pepetwa{
    background-image:url("bg-hero-checkout.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    
    /* width: 100px; */
}
.kelly{
    padding-top: 400px;
}
.our-nav{

    background-color: black ;
}
p{
    background-color: yellow;
}